# Generatory

In [12]:
# zoznam cisel od 1 po 10
z = [i for i in range(1, 11)]
print(z)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
# zoznam cisel <100 ktore su delitelne 3 aj 5 
z = [i for i in range(100) if i%3 == 0 and i%5 == 0]
print(z)

[0, 15, 30, 45, 60, 75, 90]

In [14]:
# zoznam druhych mocnic cisel z <1, 20>
z = [i**2 for i in range(1, 21)]
print(z)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [15]:
# zoznam vsetkych hran kompletneho grafu s mnozinou vrcholov v
# basically ze usecky medzi 2 bodmi
v = [1, 2, 3]
[(i, j) for i in v for j in v if i != j and i < j]

[(1, 2), (1, 3), (2, 3)]

<p>If we list all the natural numbers below $10$ that are multiples of $3$ or $5$, we get $3, 5, 6$ and $9$. The sum of these multiples is $23$.</p>
<p>Find the sum of all the multiples of $3$ or $5$ below $1000$.</p>

In [18]:
z = [i for i in range(10) if i % 3 == 0 or i % 5 == 0]
print(z)
print(sum(z))

[0, 3, 5, 6, 9]
23

In [20]:
z = [i for i in range(1000) if i % 3 == 0 or i % 5 == 0]
# print(z)
print(sum(z))

233168